useDynLib(kknn)

importFrom(Matrix, sparseMatrix, Diagonal, rowSums)
importFrom(igraph, graph, decompose, arpack) # decompose.graph,
importFrom(stats, AIC, logLik, reorder, update, rnorm, dnorm, qnorm, dbeta, predict, na.omit, kmeans,
           model.frame, model.matrix, model.response, delete.response, as.formula, formula, terms, sd) 
importFrom(graphics, plot, abline, matplot, par, legend, xinch, yinch)

export(simulation, kknn, train.kknn, cv.kknn, kknn.dist, contr.dummy, contr.metric, contr.ordinal, specClust)

S3method('plot', train.kknn)
S3method('predict', kknn)
S3method('predict', train.kknn)
S3method('print', kknn)
S3method('print', train.kknn)
S3method('summary', kknn)
S3method('summary', train.kknn)

S3method('plot', specClust)




